{% extends "account/base_entrance.html" %}
{% load i18n static%}


{% block head_title %}
{% trans "Choose Your Account Type" %}
{% endblock head_title %}

{% block body %}

<main class="p-6 space-y-5 min-h-screen " id="main">
    {% include "ui/navigation/goback.html" %}

    <div class="text-center">
        <h1 class="text-4xl md:text-5xl font-extrabold text-slate-900 mb-4 tracking-tight">
            {% trans "Choose Your Role" %}
        </h1>
        <p class="text-lg  font-medium">
            {% trans "Select how you'll be using Arclent" %}
        </p>
    </div>

    <section class="grid grid-cols-1 md:grid-cols-2 gap-5 place-content-center h-full  mt-20">
        <a href="{% url 'core:oauth_login' 'creator' %}{% if request.GET.next%}?next={{ request.GET.next }}{%endif%}"
            class="card" style="background: var(--comic-green-light);">
            <div class=" rounded-box flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4 p-10 ">
                <div class="w-[40%]">
                    <img src="{% static 'assests/ill/creator.svg' %}" alt="creator">
                </div>
                <div class="  ">
                    <h2 class="text-3xl font-bold mb-6">{% trans "I Am a Creator" %}</h2>
                    <ul class="space-y-4 mb-10 grow">
                        <li class="flex items-start space-x-3 ">
                            <span class="font-medium">{% trans "Post jobs &amp; find talent" %}</span>
                        </li>
                        <li class="flex items-start space-x-3 ">
                            <span class="font-medium">{% trans "Verify video work &amp; earn points" %}</span>
                        </li>
                        <li class="flex items-start space-x-3 ">
                            <span class="font-medium">{% trans "Connect social platforms" %}</span>
                        </li>
                        <li class="flex items-start space-x-3 ">
                            <span class="font-medium">{% trans "Redeem points for discounts" %}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </a>
        <a class="card" style="background: var(--comic-yellow);"
        href="{% url 'account_login' %}{% if request.GET.next%}?next={{ request.GET.next }}{%endif%}">
            <div class=" rounded-box flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4 p-10">
                <div class="w-[40%]">
                    <img src="{% static 'assests/ill/company.svg' %}" alt="company">
                </div>
                <div>
                    <h2 class="text-3xl font-bold mb-6">{% trans "I Am a Company " %}</h2>
                    <ul class="space-y-4 mb-10 grow">
                        <li class="flex items-start space-x-3 ">
                            <span class="font-medium">{% trans "Post jobs &amp; find talent" %}</span>
                        </li>
                        <li class="flex items-start space-x-3 ">
                            <span class="font-medium">{% trans "Keep track on Applications" %}</span>
                        </li>
                        <li class="flex items-start space-x-3 ">
                            <span class="font-medium">{% trans "Interviews" %}</span>
                        </li>
                        <li class="flex items-start space-x-3 ">
                            <span class="font-medium">{% trans "Manage Portfolio and verification" %}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </a>
    </section>
    <div class="text-center mt-10">
        <a href="{% url 'core:oauth_login' 'talent' %}{% if request.GET.next%}?next={{ request.GET.next }}{%endif%}"
            class="font-semibold">
            <span>{% trans "I am a Talent" %}</span>
            <span class="text-primary hover:underline">Continue with Login</span>
        </a>
    </div>
</main>

{% endblock %}