{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    <div class="flex items-center justify-center mb-10">
        <div class="px-10 py-5 rounded-lg flex items-center justify-center"
             style="background: var(--comic-green-light); border: var(--comic-border); box-shadow: var(--comic-shadow-sm); color: #000;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-12">
                <path d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z" />
                <path d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z" />
            </svg>
        </div>
    </div>
    {% element h1 %}
        {% trans "Check your Email" %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% element p %}
        {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
    {% endelement %}
    {% url 'account_login' as login_url %}
    <div class="my-6">
        {% element button href=login_url %} 
            {% trans "Go to login" %}
        {% endelement %}
    </div>
    <hr>
    <div class="mt-6">
        {% url 'account_reset_password' as reset_url %}
        {% element a href=reset_url %}
            {% trans "Resend email" %}
        {% endelement %}
    </div>
{% endblock content %}