{% extends "allauth/layouts/withnavbar.html" %}
{% load i18n static allauth split_tag%}


{% block head_title %}
{% trans "applications" %}
{% endblock head_title %}

{% block content %}
<main id="main">

  <div class="flex flex-row justify-between">
    <div>
      {% element h1 %}
      {% trans "Jobs applications" %}
      {%endelement%}
      {% element p %}
      {% trans "List of candiates applied for" %} "{{job.title}}"
      {%endelement%}
    </div>
    <a href="{% url 'job:job_detail' job.pk %}" target="_blank" rel="noopener noreferrer">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
      </svg>
    </a>
  </div>

  {% include 'applicant/components/search.html'%}

  <div class="flex flex-col space-y-5 mt-5">
    {% for application in applications %}
    <div class="card">
      <div class="card-body">
        <div class="flex flex-col md:flex-row md:items-center space-y-2 md:space-y-0 justify-between w-full ">
          <div class="flex items-center gap-3">
            <img src="{{ application.applicant.profile_image }}" class="w-12 h-12 rounded-full">
            <div>
              <h2 class="font-bold">
                {{ application.applicant.first_name }} {{ application.applicant.last_name }}
              </h2>
              <a target="_blank" rel="noopener noreferrer"
                href="{% url 'portfolio:talent_details' application.applicant.public_id %}" class="link link-primary">
                {%trans "View Portfolio" %}</a>
            </div>
          </div>
          <div>
            <p>
              <span class="font-semibold">{% trans "Status" %}: </span>
              <span class="badge badge-soft
                {% if application.status == 'APPLIED' %}badge-success
                {% elif application.status == 'UNDER_REVIEW' %}badge-accent
                {% elif application.status == 'SHORTLISTED' %}badge-info
                {% elif application.status == 'INTERVIEW' %}badge-success
                {% elif application.status == 'HIRED' %}badge-primary
                {% else %}badge-warning
                {% endif %}">{{application.get_status_display}}</span>
            </p>

          </div>
        </div>
        {% if application.job.job_customquestion_related.structure%}
        <div class="overflow-x-auto">
          <table class="table table-zebra">
            <thead>
              <tr>
                <th></th>
                <th>{% trans "Question" %}</th>
                <th>{% trans "Answer" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Required" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for field in application.job.job_customquestion_related.structure %}
              <tr>
                <td>{{ forloop.counter }}</td>

                <td>
                  {{ field.name|default:"—" }}
                </td>

                <td>
                  {% for key, value in application.answer.items %}
                  {% if key == field.name %}
                  {% if field.values|is_list %}
                  {% for fvalue in field.values %}
                  {% if fvalue.value == value %}
                  {{fvalue.label}}
                  {% endif %}
                  {% endfor %}
                  {% else %}
                  {{value}}
                  {% endif %}
                  {% endif %}
                  {% endfor %}
                </td>

                <td>
                  <div class="badge badge-outline">
                    {{ field.type|default:"—" }}
                  </div>
                </td>

                <td>
                  {% if field.required %}
                  <div class="badge badge-success">
                    {% trans "Yes" %}
                  </div>
                  {% else %}
                  <div class="badge badge-ghost">
                    {% trans "No" %}
                  </div>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <p class="mt-2">
            <span class="font-bold">{% trans "Message" %}:</span>
            <span>{{application.status_reason|default:""}}</span>
          </p>
        </div>
        {% endif %}

        <div class="card-actions flex flex-row items-center justify-between">
          <div>
            <p>
              <span class="font-semibold">{% trans "Applied date" %}: </span>
              <span>{{application.date_created|timesince}} ago</span>
            </p>
            <p>
              <span class="font-semibold">{% trans "Last update" %}: </span>
              <span>{{application.date_updated|timesince}} ago</span>
            </p>
          </div>
          <div>
            <a href="{% url 'job:jobapplicant_update' application.job.pk application.pk %}" class="btn btn-primary">
              {% trans 'Review' %}
            </a>
            <a target="_blank" rel="noopener noreferrer" href="{% url 'portfolio:talent_details' application.applicant.public_id %}?message=true" class="btn btn-warning">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 0 1 1.037-.443 48.282 48.282 0 0 0 5.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
              </svg>

            </a>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="py-10 mx-auto col-span-full">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-20 mx-auto my-2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
      </svg>

      <p class="text-center">{% trans "No applicant for this job" %}</p>
    </div>
    {% endfor %}
  </div>

</main>
{% endblock content %}