<form action="{% url 'set_language' %}" method="post" id="language-form" class="w-full">
    {% csrf_token %}

    <input type="hidden" name="next" value="{{ request.path }}">
    <select name="language" id="language" onchange="this.form.submit()" class="select select-neutral">
        {% for code, name in LANGUAGES %}
        <option value="{{ code }}" {% if request.user.is_authenticated and code == request.user.language %} selected {% elif code == LANGUAGE_CODE %} selected {% endif %}>
            {{ name }}
        </option>
        {% endfor %}
    </select>

</form>