{% load i18n %}

<div class="flex flex-row items-center space-x-3">
    <button class="btn btn-circle btn-outline btn-primary peer" onclick="history.back()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-20 m-2">
            <path fill-rule="evenodd"
                d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z"
                clip-rule="evenodd" />
        </svg>
    </button>
    <span class="opacity-0 peer-hover:opacity-100 transition-all">{% trans "Go back"%}</span>
</div>